@font-face {/*шрифт*/
    font-family: 'bebasneue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('bebasnueu/bebasneuebold.woff2') format('woff2'), url('bebasnueu/bebasneuebold.woff') format('woff'), url('bebasnueu/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



/* COMMON */

body, ul{/* убераю отступы от всех блоков*/
 margin: 0;
 padding: 0;

}
*{
    box-sizing: border-box;/* никакие отступы не влияют на ширину блока *-это для всех елементов на странице*/
    font-family: 'bebasneue';
}

a{
    text-decoration: none; /* подчёркивание ссылок убираем*/
    color: white;
}
li{
    list-style:none/* точки в списке убираем*/
}
i, h3 {
    color:#a1a1a1;
}
.center{
    margin:auto;/*Выравнивание по центру относительно родителя */
    max-width:1000px;/*не больше 1000 пикселей*/
    display: flex;
    flex-wrap: wrap;/*Если не влазят в блок начинают сносится вниз */
  
}




/* HEADER */

#header-top{
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    
}
#search{
    position: relative;/* потестить дома*/
    max-width: 435px;/* не будет больше 435 пикселей*/
    width:100%;
    height:30px;/* высота нашего блока содержазий инпут и лупу */
    border:1px solid #e1e1e1;
}
#search img{
    position:  absolute;/* размещается относительно родительского елемента*/
    top:2px;
    right:5px;

}
#search input{
    border: none;
    width:100%;
    height:100%;/* рвстяигваем инпут на всю ширину сёрча*/
    padding: 5px 35px 5px 10px;/* отступы текста в поисковом поле*/

}

#cart {
    display: flex;
    align-items: center;
}
#cart i{
    font-style:normal;
    font-size:28px;
    position: relative;
    margin-left:15px;/* можно перемещать при этом место будет зарезервивовано*/
    top:5px;

}
#header-menu {
    background: #4ccfc1;
    padding: 12px 15px 8px 15px; 
}

#header-menu ul{
    justify-content: space-between;/*растянуть по ширине екрана с равными отступами между елементами*/
}
#header-menu ul li a{
    border-right: 1px solid #fff;
    padding:0 20px;
    font-size:22px;
}
#header-menu ul li:first-child a{/*выбрали первый елемент списка и применяем стиль к "а"*/
    padding-left: 0;  /* убрали отступ первого елемента*/
}
#header-menu ul li:last-child a{/*выбрали последний елемент списка и применяем стиль к "а"*/
    padding-right: 0;
    border: none; /* убрали последнюю полоску*/
}



/* SLIDER-TOP */

#slider-top-bg{
    background: #38bfb1;
}
#slider-top-text{
    max-width:420px;/* не больше 420 пикселей, стали в ряд с картинкой*/
}
#slider-top{
    justify-content: space-around;
    padding: 55px 0;
    color:white;
}
#slider-top-text h2{
    font-size: 70px;
    margin: 15px 0 0 0;
    
}
#slider-top-text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:5px 0 25px 0;
}
#slider-top-text button{/* стили для кнопки*/
    background: none;/* убераем фон*/
    padding: 12px 30px 8px 30px;
    border: 2px solid white;
    color:#fff;
    border-radius: 5px;/*округляем кнопку*/
    font-size:28px; 
    cursor:pointer;
    transition: 0.3s;/* задержка подсветки 0.5с*/
}
#slider-top-text button:hover{
    background:#fff;
    color: #38bfb1;
}



/* SLIDER-BOTTOM */

#slider-bot-bg{
    background: #fff;
   display: flex;
  
}

#slider-bot{
    max-width: 1200px;
    align-items: center;
}

#btn-left, #btn-right{
    height: 86px;
    margin:0 10px
}
.slider-bot-product{
    padding: 20px 0;
    display: flex;
    width: 30%;
    border-right: 1px solid #ccc;
    min-width: 340px;
    min-height: 190px;
}
.slider-bot-product:last-of-type {/* убрал полоску с третьего дива*/
   border:none;
}

.slider-bot-product div i{
    display: block;
    font-size: 24px;
    font-style: normal;
    margin:24px 0 15px 0;
    width: 76px;
}
.slider-bot-product div button{
    background: #30be91;
    padding:8px 15px 5px 15px;
    border-radius: 5px;
    border: 1px solid #52b595;
    color:#ecfefd;
}




/* FEATURE */

#feature-bg{
    background: #38bfb1;
}
#feature{
    color: #fff;
    font-size:25px;
    padding: 22px 0 20px 0;
}







/* PRODUCTS */

.product{
    width:33.33%;
}
#products{
    padding:23px 0;
}
.product .wrap{
    border:1px solid #ccc;
    border-bottom: 5px solid #3cc395;
    margin:23px;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:25px 0 30px 0;
    font-size:28px;         
    
}
.product i{
    
    font-style: normal;/*убрать курсив*/
}
.product button{
    background:#3cc395;
    padding: 5px 10px;
    color: white;
    border:none;
    border-radius: 3px;
    padding: 12px 10px 8px 10px;
    font-size: 20px;
    cursor:pointer;
    transition:0.3s;   
    margin-left:15px;       
}
.product button:hover{
    background:#469070;
}
.product h3{
    margin:10px 0;
}
.product img{
    max-width: 100%;
}
#footer-top-bg{
    background: #3cc3b5;
}
#footer-top{
    justify-content: space-between;
    padding:35px 15px 20px 15px;


}

#footer-top h2{
    margin-top:0;
    color: #fff;
    

}
#footer-top a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    display:block;
    margin-bottom: 15px ;
    
}
#footer-bottom{
    background: #2da89b;
    text-align: center;
    padding:15px 0;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

































@media(max-width:1025px){
    #header-top{
        
        padding: 15px;/* отступы на экране побольше*/
    }
}
@media(max-width:940px){
    #header-menu ul li a{
        border:none;/**/

    }
    #header-menu ul{
        justify-content: center;
    }
}
@media(max-width:700px){
    #slider{
        text-align: center;
        justify-content: center;
        padding:15px 0 15px 0;
    }
    #header-top{
        flex-direction: column;/* центровка елементов по вертикали(горизонталь>вертикаль)*/
        padding: 15px;
    }
    #search{
        margin: 17px 0;/* отуступы елементов на маленьком экране*/  
    }
    .product{
        width: 50%;/* два елемента на странице*/
    }
    .product .wrap{
        margin:12px;
    }
    #products{
        padding:10px;
    }
}


    
@media(max-width:530px){
    #header-menu ul li a, #header-menu ul li{
        width: 100%;
        text-align: center;
      
    }
    #header-menu ul li a{
        padding:5px 15px !important;
        display:block;/*так как у строчных елементо нет верхнего отступа*/
    }
    #footer-top .nav{
        margin: 15px;

    }
    #footer-top{
        justify-content: center
    }
    .product{
        width: 100%;/* один елемент на странице*/
    }
}
